  <h3>Don't Make Me Go Outside - playlist</h3>

  <!--p><h3><a href="#song"><span class="label label-success">Song</span></a> <a href="#sound"><span class="label label-success">Sound</span></a> <a href="#other"><span class="label label-success">Other</span></a></h3></p-->
  <hr></hr>
  <div class="panel panel-default projectcontent">
    <div class="panel-body">
    	<h5>
			<p><iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/232865904%3Fsecret_token%3Ds-lVpVK&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></p>

      <p>This playlist is designed as a sampler of the early material discussed in my paper 'Don't Make Me Go Outside: Feminine melancholy, recovery, and rejecting resilience through electronic music'. </p>

      <p>They were all made in bed, on an iPad mini in either Nanostudio or Korg Gadget, with the exception of The Waves, a slightly later song which was re-tracked (also in bed) on an OP-1 miniature synthesiser, my preferred device now that I'm more mobile and have disposable income again.</p> 

      <p>If you have further questions or comments about my talk or practice, please don't hesistate to get in touch at <a href="e.winston@gold.ac.uk">e.winston@gold.ac.uk</a>. You can also find the rest of my music at <a href="https://deerful.com">Deerful.com</a>, my <a href="http://deerful.band">Bandcamp</a> or my <a href="http://deerful.audio">Soundcloud</a>.</p>
		</h5>
		
	<p>The text of the talk is available <a href="https://www.academia.edu/26284189/Dont_Make_Me_Go_Outside_Feminine_melancholy_recovery_and_rejecting_resilience_through_electronic_music">here</a>.</a></p>
    </div>
  </div>
  <hr></hr>
