<section id="projects">
<div class="container">
  <h3>About Graphic Score Bot</h3>

  <!--p><h3><a href="#song"><span class="label label-success">Song</span></a> <a href="#sound"><span class="label label-success">Sound</span></a> <a href="#other"><span class="label label-success">Other</span></a></h3></p-->
  <hr></hr>
  <div class="panel panel-default">
    <div class="panel-body">
    	<h5>
    		<center>
    			                        <a class="twitter-timeline"  href="https://twitter.com/GraphicScoreBot" data-widget-id="695052634856759296">Tweets by @GraphicScoreBot</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
          
    		</center>

			<p><a href="http://twitter.com/graphicscorebot">Graphic Score Bot</a> is a <a href="http://www.brightspiral.com/">Tracery</a> Twitter bot, running on the <a href="http://cheapbotsdonequick.com">Cheap Bots Done Quick</a> platform. It generates hourly graphic scores to inspire musicians, composers, and anyone else.</p>

			<p>There are no rules as to how you should use this bot to guide your own music. It will occasionally tweet the words 'BEGIN' and 'END', which can be used as start and end points respectively - or you can completely ignore it. A single graphic can represent a single bar, an entire piece, or anything in between. You can adhere to the lines on the staff, or ignore them. There is no right or wrong, this bot is simply a jumping-off point.</p>

			<p>The bot will also occasionally post selections from Brian Eno's <a href="https://en.wikipedia.org/wiki/Oblique_Strategies">Oblique Strategies</a>.</p>

			<p>I will gladly share any pieces which are created based on the bot from its account; mention the bot and I'll retweet you manually when I receive it (Cheap Bots Done Quick does not support interactivity, and I don't plan to host it elsewhere at least for now).</p>

			<p>The Tracery code for the bot is <a href="https://github.com/emmawinston/graphicscorebot">available on Github</a> (apologies for my messy code). If you have any ideas for additions to the bot, pull requests are welcomed (though I will also need to enter these into the hosted bot manually, and may take a while to do so since this is very much a hobby project!).</p>
		</h5>
    </div>
  </div>
  <hr></hr>
</div>
</section>
