  <h3>About Graphic Score Bot</h3>

  <!--p><h3><a href="#song"><span class="label label-success">Song</span></a> <a href="#sound"><span class="label label-success">Sound</span></a> <a href="#other"><span class="label label-success">Other</span></a></h3></p-->
  <hr></hr>
  <div class="panel panel-default projectcontent">
    <div class="panel-body">
    	<h5>
    		<p><center>
    	                      <a class="twitter-timeline"  href="https://twitter.com/GraphicScoreBot" data-widget-id="695055312798277632">Tweets by @GraphicScoreBot</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
          
          
    		</center></p>

			<p><a href="http://twitter.com/graphicscorebot">Graphic Score Bot</a> is a <a href="http://www.brightspiral.com/">Tracery</a> Twitter bot, running on the <a href="http://cheapbotsdonequick.com">Cheap Bots Done Quick</a> platform. It generates hourly graphic scores to inspire musicians, composers, and anyone else.</p>

			<p>There are no rules as to how you should use this bot to guide your own music. It will occasionally tweet the words 'BEGIN' and 'END', which can be used as start and end points respectively - or you can completely ignore it. A single graphic can represent a single bar, an entire piece, or anything in between. You can adhere to the lines on the staff, or ignore them. There is no right or wrong, this bot is simply a jumping-off point.</p>

			<p>The bot will also occasionally post selections from Brian Eno's <a href="https://en.wikipedia.org/wiki/Oblique_Strategies">Oblique Strategies</a>.</p>

			<p>I will gladly share any pieces which are created based on the bot from its account.</p>

			<p>The Tracery code for the bot is <a href="https://github.com/emmawinston/graphicscorebot">available on Github</a> (apologies for my messy code). If you have any ideas for additions to the bot, pull requests are welcomed.</p>

      <p>There is also a version of the bot which generates more extended scores intended for live use, <a href="https://emmawinston.me/graphicscorebotlive/index.html">hosted here on my website</a> and whose <a href="https://github.com/emmawinston/graphicscorebotlive">source is on Github</a>. I have also set up a <a href="https://emmawinston.me/graphicscorebotlive/temporal/">real-time version</a> which generates fragments of scores at timed intervals, available in the same repository. I have performed from this iteration of the bot at BotSummit 2016 and Abandon Normal Devices at Somerset House.</p>

      <p>If you would like to host a live performance of the bot by me, please get in touch by <a href="mailto:emma.winston@gmail.com">email</a> or <a href="http://twitter.com/deer_ful">Twitter</a>! If you would like to perform from the bot yourself, please feel free, but I'd love to hear how you get on.</p>
		</h5>
    <hr></hr>
    <h4><center>But why?</center></h4>
    <h5>
    <p>Graphic Score Bot is a superficial attempt to make sense of my own complicated feelings about sound art and experimental music, which I view as simultaneously more and less accessible to listeners and artists without a 'conventional' musical background. Despite the fact that experimental music can be played and created with no knowledge or understanding of Western art music whatsoever, the fact remains that the culture surrounding it is often intimidating.</p>

    <p>I wondered if I could take some of the self-consciousness out of composition by imposing limitations which are generated beyond my control, other than the parameters I feed into the bot in the first place (which I am well aware is another layer of complexity in play - although the meanings of these may equally change at the point of reception). Graphic Score Bot both limits the field of creativity and expands it infinitely, depending upon how it is interpreted.</p>
    </h5>
    </div>
  </div>
  <hr></hr>
