<section id="projects">
<div class="container" id="accordion">
  <h3>Projects</h3>

  <!--p><h3><a href="#song"><span class="label label-success">Song</span></a> <a href="#sound"><span class="label label-success">Sound</span></a> <a href="#other"><span class="label label-success">Other</span></a></h3></p-->
  <hr></hr>

  <h4 id="song" class="accordion-toggle"><strong>Song</strong> <span class="fa accordion-icon"></span></h4>
  <div class="panel panel-default accordion-content">
    <div class="panel-body">
    	<h5>
			<i class="fas fa-file-audio"></i>&nbsp;&nbsp;<strong>Live-coded music - ongoing</strong>

			<p>I received a full scholarship to attend Stanford University's week-long SuperCollider Summer Workshop in June 2016 under their Women In Computer Music scheme. Over the course of the week I developed a chord-sequence generator, as well as multiple sound pieces including the instrumental which would become the b-side to my single <i>Without Borders</i>. </p>

			<p>I have since experimented with live-coding music in ChucK and ixi lang, and am currently releasing a series of songs coded in ixi lang on YouTube and Patreon. My songwriting progress in ixi lang is <a href="https://github.com/emmawinston/ixilang-experiments">published to Github</a>.</p>
			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/MJSRAuPQoA8' frameborder='0' allowfullscreen></iframe></div>
		</h5>
    	<hr></hr>
	<h5>
			<i class="fas fa-music"></i>&nbsp;&nbsp;<strong><a href="https://wiaiwya.bandcamp.com/album/peach">Deerful: Peach</a> (EP, WIAIWYA) - 2 June 2017</strong>

			<p><i>Peach</i> is my first full-length album. Written, recorded, produced and mixed in my front room, it traces a narrative of moments of contact between people, and above all celebrates the small moments that make up a life. Although mostly conventionally produced, it features a computerised vocalist on its opening track which was directed to 'sing' using Twitter API data. It was described by the Guardian as 'the most human record of the year'. My track-by-track exploration of the album is available at <a href="https://www.goldflakepaint.co.uk/album-stream-deerful-peach/">Gold Flake Paint</a>.</p>

			<center><iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3673998048/size=large/bgcol=ffffff/linkcol=2ebd35/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://wiaiwya.bandcamp.com/album/peach">Peach by Deerful</a></iframe></center>
		</h5>
		<hr></hr>

    	<h5>
			<i class="fas fa-music"></i>&nbsp;&nbsp;<strong><a href="https://deerful.bandcamp.com/album/staying-still">Deerful: Home</a> (EP, WIAIWYA) - 14th October 2016</strong>

			<p><i>Home</i> features two old songs, a new song, and a cover of band the Mountain Goats, all arranged in the style of old-school video game music, or chiptune, and represents a homage to both the digital and analogue things that make you feel like you belong somewhere.</p>

			<p>It was released alongside a platformer game for fantasy console PICO-8, which can be played <a href="http://www.lexaloffle.com/bbs/?tid=27879">here</a>.</p> 

			<center><iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1977429550/size=large/bgcol=ffffff/linkcol=2ebd35/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://wiaiwya.bandcamp.com/album/home-ep">Home ep by Deerful</a></iframe></center>
		</h5>
		<hr></hr>
		<h5>
			<i class="fas fa-music"></i>&nbsp;&nbsp;<strong><a href="https://deerful.bandcamp.com/album/staying-still">Deerful: Without Borders</a> (single, self-released) - 11 August 2016</strong>

			<p>Without Borders is a charity single released in aid of independent legal organisation <a href="http://jcwi.org.uk">Joint Council for the Welfare of Immigrants</a>. Written after the referendum on the European Union, the A-side, 'European Summer', adopts a typically apolitical <a href="https://en.wikipedia.org/wiki/Chillwave">chillwave</a> idiom musically, which serves as a deceptive backdrop for a political lyrical text. The B-side, coded in Supercollider, is my interpretation of <a href="http://www.squarepusher.net/midi-sans-frontieres/index.html">Squarepusher's MIDI Sans Frontières</a> project. All proceeds continue to be donated to JCWI.</p>

			<center><iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1208759158/size=large/bgcol=ffffff/linkcol=2ebd35/tracklist=false/artwork=small/track=904681676/transparent=true/" seamless><a href="http://deerful.bandcamp.com/album/without-borders">Without Borders by Deerful</a></iframe></center>
		</h5>
		<hr></hr>
    	<h5>
			<i class="fas fa-music"></i>&nbsp;&nbsp;<strong><a href="https://deerful.bandcamp.com/album/staying-still">Deerful: Staying Still</a> (EP, Gare Du Nord) - 8th July 2016</strong>

			<p><i>Staying Still</i> is an extremely personal EP. It was released on the DIY collective Gare Du Nord in July 2016. Written in the summer of 2015, <i>Staying Still</i> is a record about stasis and feeling stuck, failed attempts at escape and at being heard, intrusive thoughts and stuffing them down. It can be purchased <a href="https://wiaiwya.bandcamp.com/album/moon-maps-hush-me-2">at my Bandcamp</a>.</p> Tracks from the EP have been played on <a href="www.bbc.co.uk/6music">BBC6 Music</a>. 

			<center><iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1556883046/size=large/bgcol=ffffff/linkcol=2ebd35/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://deerful.bandcamp.com/album/staying-still">Staying Still by Deerful</a></iframe></center>
		</h5>
		<hr></hr>
    	<h5>
			<i class="fas fa-music"></i>&nbsp;&nbsp;<strong><a href="https://wiaiwya.bandcamp.com/album/moon-maps-hush-me-2">Deerful: Moon Maps/Hush Me</a> (single, WIAIWYA) - 7th April 2016</strong>

			<p>'Moon Maps'/'Hush Me' is my solo first vinyl release as <a href="https://deerful.com">Deerful</a>, and was released on <a href="http://www.wiaiwya.com/">Where It's At Is Where You Are Records</a> on the 7th of April. Written in the summer of 2015, it represents some of my first steps into electronic music, and ranges from upbeat synthpop to unsettling ambience. It can be purchased <a href="https://wiaiwya.bandcamp.com/album/moon-maps-hush-me-2">at WIAIWYA's Bandcamp</a>.</p> Moon Maps has been played on <a href="www.bbc.co.uk/6music">BBC6 Music</a>, and <a href="https://en-gb.facebook.com/Beyond.Synth.Podcast/">Beyond Synth's popular synthwave podcast.

			<center><iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=215875702/size=large/bgcol=ffffff/linkcol=2ebd35/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://wiaiwya.bandcamp.com/album/moon-maps-hush-me-2">Moon Maps / Hush Me by Deerful</a></iframe></center>
		</h5>
		<hr></hr>
		<h5>
			<i class="fas fa-music"></i>&nbsp;&nbsp;<strong><a href="http://deerful.band/album/city-bells">Deerful: City Bells</a> (single) - 15th December 2015</strong>

			<p>A self-released festive single, written and recorded by me as <a href="https://deerful.com">Deerful</a>, and co-produced jointly between myself and Darren Hayman. I wanted to become more used to working with digital distributors and publicising my own work without the help of a label behind me, and also wanted to see if I could make my first publicly-available music project financially sustainable. </p>

			<center><iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2740499000/size=large/bgcol=ffffff/linkcol=2ebd35/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://deerful.bandcamp.com/album/city-bells">City Bells by Deerful</a></iframe></center>
		</h5>
		<hr></hr>
    </div>
  </div>
  <hr></hr>

  <h4 id="sound" class="accordion-toggle"><strong>Sound</strong> <span class="fa accordion-icon"></span></h4>
  <div class="panel panel-default accordion-content">
    <div class="panel-body">
    	<h5>
			<i class="fab fa-twitter"></i>&nbsp;&nbsp;<strong><a href="http://twitter.com/graphicscorebot">Graphic Score Bot</a> - ongoing (<a href="https://emmawinston.me/graphicscorebot/">more about this</a>)</strong>

			<p>An art project using the Twitter platform to post hourly generative graphic scores. <a href="https://emmawinston.me/graphicscorebot/">More fully explained here</a>, the bot is designed as a jumping-off point rather than being prescriptive or instructive, and generates score-like images (and occasional extracts from Brian Eno's Oblique Strategies) which can be interpreted by anyone, regardless of musical experience.</p>

			<p>Users are free to take into account or ignore everything from shape, colour, opacity, and position on 'stave' (or, occasionally, lack thereof) in their interpretations of what the bot posts. I plan to manually retweet any creations based on the generated scores that are sent to me, and also intend to add more features to the bot in the future.</p>

			<p>Graphic Score Bot is a superficial attempt to make sense of my own complicated feelings about sound art and experimental music, which I view as simultaneously more and less accessible to listeners and artists without a 'conventional' musical background. Despite the fact that experimental music can be played and created with no knowledge or understanding of Western art music whatsoever, the fact remains that the culture surrounding it is often intimidating. I wondered if I could take some of the self-consciousness out of composition by imposing limitations which are generated beyond my control, other than the parameters I feed into the bot in the first place (which I am well aware is another layer of complexity in play - although the meanings of these may equally change at the point of reception). Graphic Score Bot both limits the field of creativity and expands it infinitely, depending upon how it is interpreted.</p> 

			<p>A live variation of Graphic Score Bot was performed from at <a href="http://tinysubversions.com/botsummit/2016/">BotSummit 2016</a> at the Victoria and Albert museum, and later, in a more developed real-time form at Abandon Normal Devices' festival <a href="http://www.andfestival.org.uk/events/art-of-bots-showcase/">The Art of Bots</a> at Somerset House in London.

			<p><a href="http://twitter.com/graphicscorebot">View Graphic Score Bot on Twitter.</a></p>
		</h5>
		<hr></hr>
    	<h5>
			<i class="fas fa-file-audio"></i>&nbsp;&nbsp;<strong><a href="http://citiesandmemory.com/dadasounds/">Ssa-ha-la - Cities and Memory: Dada Sounds</a> (sound art) - 5th February 2016</strong>

			<p>Cities and Memory is a global field recording &amp; sound art work that presents both the present reality of a place, but also its imagined, alternative counterpart – remixing the world, one sound at at time. The Dada Sounds project marks a century of Dadaism by applying the techniques and practices of Dada to field recordings from around the world, bringing a Dadaist approach to the concepts of sound, place and memory.</p>

			<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1336284631/size=large/bgcol=ffffff/linkcol=2ebd35/tracklist=false/artwork=small/track=4223775533/transparent=true/" seamless><a href="http://citiesandmemory.bandcamp.com/album/dada-sounds">Dada Sounds by Emma Winston</a></iframe>

			<p>For my work, 'Ssa-ha-la', I chose to use an existing sound from the Cities and Memory database, since I felt this was more in keeping with the spirit of the Dada readymade than procuring my own field recording would have been (although I ultimately manipulated the recording far more than perhaps Marcel Duchamp would have approved of!). Listening closely to the sound of the waves and seagulls at low tide, I decided to write a sound poem, in the 'Bruitist' (or phonetic) form invented by Dadaist Richard Huelsenbeck, which would reflect and exaggerate the natural sounds accompanying it, replacing semantic logic with sonic logic. The result is a kind of 'sound song' which intertwines with the cries of the gulls and sibilant waves.</p>

			<p>'SSa-ha-la' appears on Cities and Memory's Dada Sounds highlights compilation, available as a pay-what-you-want download <a href="https://citiesandmemory.bandcamp.com/album/dada-sounds">here</a>.</p>
		</h5>
    	<hr></hr>
    	<h5>
			<i class="fas fa-file-audio"></i>&nbsp;&nbsp;<strong><a href="http://deerful.band/album/browser-pieces">Browser Pieces</a> (EP) - 26th January 2016</strong>

			<p>I engage with my web browser more than I do any other piece of electronic technology. I use it to consume research, to read, to listen to music, to view art. Until now, I had never used it to create.</p>

			<center><iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=4050612035/size=large/bgcol=ffffff/linkcol=2ebd35/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://deerful.bandcamp.com/album/browser-pieces">Browser Pieces by Emma Winston</a></iframe></center>

			<p>Made in an evening, <i>Browser Pieces</i> challenges my own use of the web browser as a consumption device. Using five in-browser synths created by independent developers, I recorded four tracks ranging from soft ambience to multilayered minimalism using only Google Chrome and Audacity for live capture.</p>

			<p>You can download or purchase <i>Browser Pieces</i> <a href="http://deerful.band/album/browser-pieces">here</a>.</p>
		</h5>
    	<hr></hr>
    	<h5>
			<i class="fas fa-file-audio"></i>&nbsp;&nbsp;<strong><a href="http://deerful.audio/sets/sound-journals">Sound Journals</a> (sound art collection) - ongoing</strong>

			<p>A series of short, semi-improvised sound artworks, constructed from found sounds recorded in specific places and spaces. The idea is both to capture the atmosphere of a given environment and to heavily manipulate it, so that it becomes almost more of an emotional document than a physical one.</p>

			<center><iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/177260435&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></center>

			<p>You can download or stream my sound journals <a href="http://deerful.audio/sets/sound-journals">here</a>.</p>

		</h5>
		<hr></hr>
    </div>
  </div>
  <hr></hr>

  <h4 id="other" class="accordion-toggle"><strong>Other</strong> <span class="fa accordion-icon"></span></h4>
  <div class="panel panel-default accordion-content">
    <div class="panel-body">
    	<h5>
			<i class="fab fa-twitter"></i>&nbsp;&nbsp;<strong><a href="http://deerful.space">Twitter bots</a> - ongoing</strong>

			<p>A series of small bots, quickly made, using the Twitter platform to post automated humorous or artistic content. The bots fall into two categories; the first run on the <a href="http://cheapbotsdonequick.com">Cheap Bots Done Quick</a> platform and are written in <a href="http://www.brightspiral.com/">Kate Compton's Tracery</a>, a tool for creating generative grammars. These include:</p>

				<ul>
					<li><a href="http://twitter.com/thetinygallery">The Tiny Gallery</a>: by far my most popular bot to date, the Tiny Gallery posts a few tiny exhibits each day, complete with equally tiny visitors. A <a href="http://www.cultofmac.com/410496/emoji-becomes-art-in-tiny-gallery-on-twitter/">profile of the Tiny Gallery</a> was featured on tech and culture website Cult of Mac one day after its launch.</li>
					<li><a href="http://twitter.com/tiny_gardens">Tiny Gardens</a>: tiny computationally-generated emoji gardens.</li>
					<li><a href="http://twitter.com/tiny_cityscapes">Tiny Cityscapes</a>: emoji cities by day and night, each with its own micro-climate.</li>
					<li><a href="http://twitter.com/tiny_forests">Tiny Forests</a>: emoji forests, complete with wildlife. It has been featured in <a href="https://botzine.org/">The Bot! Zine</a>.</li>
					<li><a href="http://twitter.com/bon_appetiny">Bon Appetiny</a>: tiny emoji dinners for two.</li>
					<li><a href="http://twitter.com/tinylittlehomes">Tiny Homes</a>: tiny ASCII/emoji houses and gardens.</li>
				</ul>

			<p>The second category of bots are either written in Python or Ruby, and run on cloud platform Heroku. They include:</p>

				<ul>
					<li><a href="http://twitter.com/owenpallettbot">Owen Pallett Lyrics</a>: Tweets randomly-selected lines from a corpus made up of the complete lyrics of <a href="http://owenpalletteternal.com">Owen Pallett</a> (formerly Final Fantasy).
					</li>
					<li><a href="http://twitter.com/one_small_bot">One Small Bot</a>: Selects random words from the dictionary and inserts them into Neil Armstrong's famous lunar landing speech. One Small Bot has been featured in <a href="https://botzine.org/">The Bot! Zine</a>, and also placed third in their <a href="https://botwiki.org/monthly-bot-challenge/2016-january/#winners">space-themed January Monthly Bot Challenge</a>.
					</li>
					<li><a href="http://twitter.com/botlovesyou">Bot Loves You</a>: The first bot I ever created, Bot Loves You tweets emoji hearts a few times daily, and also responds to mentions. Despite its limited vocabulary and lack of intelligence, Bot Loves You is intended to make users feel fond of it, and holds semi-regular 'conversations' initiated by its followers.
					</li>
				</ul>

				<p>The bots are available in a stream at <a href="http://deerful.space">deerful.space</a> and can also be viewed at <a href="https://botwiki.org/tag/deer_ful/">BotWiki</a>.</p>
		</h5>
		<hr></hr>
		<h5>
			<i class="fa fa-podcast"></i>&nbsp;&nbsp;<strong><a href="http://toomuchnotenough.site">Too Much Not Enough podcast</a> - ongoing</strong> 
			<p>I co-host the podcast Too Much Not Enough with internet artist Darius Kazemi. Each episode represents a deep-dive into one of our most intense interests, which range across the full disciplinary spectrum, and vary widely from the general to the highly specific.</p>
		</h5>
		<hr></hr>
		<h5>
			<i class="fa fa-gamepad"></i>&nbsp;&nbsp;<strong><a href="http://deerful.itch.io">Games</a> - ongoing</strong> 
			<p>I occasionally make small-scale games and interactive narrative experiences.</p>

			<ul>
					<li><a href="http://deerful.itch.io/cat-simulator-3000">Cat Simulator 3000</a>: A hypertext adventure game built in the <a href="http://twinery.org/">Twine engine</a> with hand-coded Javascript extensions to add scoring and timing mechanics, Cat Simulator 3000 allows you to play a cat who has to wreak as much havoc in your owner's house as possible before they get home. It was named one of <a href="https://www.rockpapershotgun.com/2015/12/12/best-free-games-of-the-week-7/">Rock Paper Shotgun's best free games of the week</a> in December 2015.</li>
					<li><a href="http://deerful.itch.io/noctiluca">noctiluca</a>: A (fairly faithful) retelling of spotting glow worms in Hertfordshire, built in <a href="https://ledoux.itch.io/bitsy">Adam LeDoux's Bitsy engine</a> with several extensions and original music.</li>
					<li><a href="http://deerful.itch.io/what-it-feels-like-in-here">what it feels like in here</a>: A narrative micro-game built in Bitsy with original music.</li>
			</ul>
		</h5>
		<hr></hr>
		<h5><i class="fab fa-twitter"></i>&nbsp;&nbsp;<strong>|dis|quiÉTUDE by |end| &amp; Annie Goh (Python coding)</a> - April 2016</strong>
			<p>I contributed Python code to sound artists |end| and Annie Goh's installation, |dis|quiÉTUDE, which was shown at St James Hatcham Church in southeast London in April 2016. The code taps into Twitter streams which can be specified either by retweeted user or by specific search terms or hashtags, extracts numerical data from their associated follower counts, likes, and permalinks, and passes that data to Supercollider via the Open Sound Control protocol.</p>
		</h5>
    </div>
  </div>
  <hr></hr>
</div>
</section>
