<div class="social">
	<h4>
    {% if site.email %}
	  <a href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a>
    {% endif %}

    <a href="https://goldsmiths.academia.edu/EmmaWinston"><i class="fa fa-book"></i></a>

    {% if site.linkedin %}
	  <a href="https://www.linkedin.com/in/emma-winston-a6964758"><i class="fa fa-linkedin"></i></a>
    {% endif %}
   
    <a href="https://deerful.com"><i class="fa fa-music"></i></a>

    <a href="http://soundcloud.com/deerful"><i class="fa fa-soundcloud"></i></a>

    {% if site.twitter %}
      <a href="http://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a>
    {% endif %}

    {% if site.github %}
      <a href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>
    {% endif %}

    <a href="https://emmawinston.tumblr.com"><span class="fa fa-tumblr"></span></a>
	</h4>
</div>
