  <h3>How Do You Feel About The Ukulele?</h3>

  <!--p><h3><a href="#song"><span class="label label-success">Song</span></a> <a href="#sound"><span class="label label-success">Sound</span></a> <a href="#other"><span class="label label-success">Other</span></a></h3></p-->
  <hr></hr>
  <div class="panel panel-default surveycontent">
    <div class="panel-body">
    	<h5>
    
      <p>I would like to ask you to participate in data collection to gain a broad sense of people's impressions and feelings about the ukulele, whether positive or negative; their participation in ukulele groups, or lack thereof; and some demographic information to see if these opinions and experiences can be in any way mapped to social demographic. These results will inform my PhD thesis.</p>

      <p>The survey includes nine questions in total but <b>all questions are optional</b> and <b>you need not answer all (or any) of them if you do not wish to</b>. Questions are informal and may be answered as formally or informally, in as much or as little detail as you like. Your participation in this study is entirely voluntary.</p>

			<p>The information you provide is confidential and there is no risk to you as a participant, but anonymised quotes may be used. Your IP address is anonymous to SurveyMonkey and I will not be collecting your location. Results from the survey will be treated as a source of background information for my PhD thesis, alongside literature-based research and interviews with others.</p>

      <p>No personal identifying information will appear in any publications resulting from this study.<p>

      <p>If you have any questions regarding this study or would like additional information please contact <a href="mailto:e.winston@gold.ac.uk">e.winston@gold.ac.uk</a>.</p>
      
      <p>By filling in this survey you indicate that you understand its purpose and consent to the use of the data as indicated above.
      
      <p>Thank you for your cooperation. Click the button below to begin.

      <p><a class="surveybutton" href="https://www.surveymonkey.co.uk/r/YJZFDYG">How Do You feel About The Ukulele?</a></p>



		</h5>
    </div>
  </div>
  <hr></hr>
